<!-- edit.ejs -->

<html>
<head>
	<title>Blog Edit</title>
</head>
<body>
	Hello World
	<form method='post' action="/post/<%=post.dataValues.id%>?_method=put">
			<input type="submit" value="Edit">
	</form>"
</body>
</html>