<!-- index.ejs -->

<!DOCTYPE>
<html>
  <head>

  </head>
  <body>
    <h2>BLOG INDEX</h2>
  	<ul>
  		<% posts.forEach(function(post) {%>
      <li>
      	<a href="/post/<%=post.dataValues.id%>"><%= post.dataValues.title %></a>
      </li>
    <% }) %>
  	</ul>
    <a href="post/new">Create New Posts</a>
  </body>
</html>