<!-- login.ejs -->

<!doctype html />
<html>
<head>
	<title>Login Form</title>
</head>
<body>
	<h1>Login</h1>

	<!-- need to add a message to the user -->
	<p style = "color: red">
		<% if(message) {%>
		<%= message %>
		<% }%>
	</p>
	<!-- need a form for user name and password -->
	<form method='post' action='/login'>
		<p>
			<label for="username">Username</label>
			<input id="username" type="text" name='username'>
		</p>
		<p>
			<label for="password">Password</label>
			<input id="password" type="password" name='password'>
		</p>
		<p>
			<input type="submit" value="Login">
		</p>
	</form>
</body>
</html>