<!-- new.ejs-->

<!doctype html>
<html>
  <head>
  </head>
  <body>
  	<form method="post" action="/post">
  		Author Name:<br>
  		<input type="text" name="author[name]"><br>
  		Blog Summary:<br>
  		<textarea rows="10" cols="40" name="post[content]"></textarea><br>
  		<input type="submit" value="Submit">
  	</form>
  </body>
</html>