<!-- signup.ejs -->

<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<h1>Sign Up</h1>
	<p style = "color:red;">
	<% if(message) {%>
		<%= message %>
		<% }%>
	</p>

	<form method="post" action='/signup'>
		<div>
			<label for="name">Name</label>
			<input id="name" type='text' name='name'>
		</div>
		<div>
			<label for="username">Username</label>
			<input id="username" type='text' name='username'>
		</div>
		<div>
			<label for="password">Password</label>
			<input id="password" type='password' name='password'>
		</div>
		<div>
			<input type='submit' value='Sign Up'>
		</div>
		<a href="/login">Already have an account? Log in here</a>
	</form>
</body>
</html>